body {
  font-family: 'sans-serif';
  margin: 0;
}

main {
  margin: 20px;
}

button {
  min-width: 64px;
  padding: 2px 16px;
  height: 36px;
  border: none;
  border-radius: 5px;
  background: #FEDBD0;
  color: #442C2E;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  box-shadow: 1px 1px 1px lightgrey;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
}
button:focus {
  outline: none;
  border: 1px solid #442C2E;
}
